<ion-view view-title="Insurence co/Corporate year">
<ion-nav-buttons side="primary">
      <!-- <button class="button" ng-click="doSomething ()">-->
        <i class="button button-icon icon ion-android-more-vertical" ng-click="openPopover($event)"></i>
      <!-- </button> -->
    </ion-nav-buttons>
  <ion-content class="padding">
  	<div class="dash-block" style="background-color: #17B6A4;">
 <!-- 		<p style="margin: 0% 5%; font-size:12px;">Claims settled <br/><span style="font-size:20px">50%</span>
  		
  		<progress max="100" value="50"> </progress>	
  		500 Claims; 600 Insured</p>-->
  		<div class="widget widget-stats bg-green" style="margin-left: 10px;">
			            <div class="stats-icon stats-icon-lg"><i class="fa fa-globe fa-fw"></i></div>
			            <div class="stats-title">Claims settled</div>
			            <div class="stats-number">50%</div>
			            <div class="stats-progress progress">
                            <div style="width: 50%;" class="progress-bar"></div>
                        </div>
                        <div class="stats-desc">500 Claims; 600 Insured</div>
			        </div>
  	</div> 

<!--  	<div class="" style="width:48%;display:table; background-color: #17B6A4;position:relative;">
<div style="display:table-row;vertical-align:bottom;font-size:12px;color:#ffffff;padding-left:10px;">Claims settled <br/><span style= font-size:20px>50%</span></div>
<div style="display:table-row;vertical-align:middle">
<div class="" style="border:0px solid #dedede;width:96%;height:8px;background:#ffffff;margin:10px auto;">
<div class="" style="width:50%;height:8px;background:red;"></div>
</div>
</div>
<div style="display:table-row;vertical-align:top;font-size:12px;color:#ffffff ">500 Claims; 600 Insured</div>

</div>
  	-->
  	
  	
  	
  	
  	<div class="dash-block" style="background-color: #2184DA;">
  <!--		<p style="margin: 10% 5%;"><u>Settled amount ₹50,000</u><br/>Out of ₹150,000 - 33%</p>-->
    		<div class="widget widget-stats bg-green" style="margin-left: 10px;">
			            <div class="stats-icon stats-icon-lg"><i class="fa fa-globe fa-fw"></i></div>
			            <div class="stats-title">Settled amount</div>
			            <div class="stats-number">₹50,000</div>
			            <div class="stats-progress progress">
                            <div style="width: 33%;" class="progress-bar"></div>
                        </div>
                        <div class="stats-desc">Out of ₹150,000 - 33%</div>
			        </div>
  	</div>
    <div id="chart" ></div>
  </ion-content>
</ion-view>
