/*login page css start*/
.ui-page { 
    background: white;
}
.ui-content
{  
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 8% !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    width: 251px !important;
}
.companylogo_div
{
    border-bottom-width: 0px;
    /*width: 251px;*/
    background-image: url('../images/paramount.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 210px 100px;
    height: 102px;
}
.companylogo_img
{
    background-repeat:no-repeat;
    height: 100px;
    width: 210px;
    margin: 0 auto;
}
.username_fileddiv
{
    border:none;
    height:auto;
    padding: 0px !important;
    width:250px !important;
}
.password_fileddiv
{
    border:none;
    height:auto;
    width:250px !important;
}
.input_txt_filed
{
    background-color: #FFF !important;
    border-radius: 5px;
    font-size: 14px;
    height: 35px;
    line-height: 27px;
    margin-bottom: 10px !important;
    width:250px !important;
} 
.remember_div
{
    border-bottom-width: 0px;
    height: 40px;
    padding-bottom: 0px; 
    padding-top: 0px;
}
.remember_label
{
    float:left;
    font-weight: bold;
    margin-right: 0px; 
    margin-top: 10px; 
    width: 120px;
}
div.ui-slider 
{
    float:right !important;
    margin-right: 1% !important;
}
.login_div
{
    height: 33px;
    margin: 0 auto;
    width: 110px;
}
.login_button
{
    background:url('../images/login_button.png')no-repeat center; 
    background-size: 100px 33px;
    color:white;
    float:left;
    font-size:17px;
    font-weight: bold;
    height:33px;
    line-height:31px;
    margin-left: 0px;
    text-align:center;
    text-shadow: none;
    text-decoration:none;
    width:100px;
}
.login_button:active
{
    background-color:#469f26; 
}
.ui-controlgroup-controls{
    width: 100px;
    margin-right: 0px;
    float: right;
}
.ui-field-contain .ui-controlgroup-controls{
    width: 100px;
}
.ui-field-contain .ui-controlgroup-label {
    width: 109px;
    margin-right: 0px;
}
.ui-radio .ui-btn-inner{
    padding: 7px 10px;
}
.ui-controlgroup-label{
    float: left;
    line-height: 40px;
}
.ui-field-contain{
    border: 0px;
}
.version{
    bottom: 0px;
    float: right;
    color: gray;
    font-size: 12px;
    margin-top: -35px;
}

/*login page css end*/